<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Websockets Client</title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <main id="v-app">
        <section class="alerts">
            <vue-simple-notify :items="alerts"></vue-simple-notify>
        </section>
        <section class="chat">
            <h1>Websockets Testing</h1>
            <form>
                <input type="text" v-model="text" />
                <button type="submit" @click.prevent="sendChatMessage()">Send</button>
            </form>
            <p>
            <ul>
                <li v-for="msg of messages">
                    <strong>{{ msg.sender }}</strong> {{ msg.message }}
                </li>
            </ul>
            </p>
        </section>
    </main>
    <script>
        Vue.component('VueSimpleNotify', VueSimpleNotify.VueSimpleNotify);
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                title: "Websockets Testing",
                text: '',
                messages: [],
                socket: { chat: null, alerts: null },
                alerts: []
            },
            methods: {
                sendChatMessage() {
                    this.socket.chat.emit('chatToServer', {
                        message: this.text,
                        sender: this.username
                    })
                    this.text = '';
                },
                receiveChatMsg(msg) {
                    this.messages.push(msg);
                },
                receiveAlertMsg(msg) {
                    this.alerts.push(msg)
                }
            },
            created() {
                this.username = prompt("Enter your username");
                this.socket.chat = io('http://localhost:3000/chat');
                this.socket.chat.on('chatToClient', (msg) => {
                    this.receiveChatMsg(msg);
                });
                this.socket.alert = io('http://localhost:3000/alert');
                this.socket.alert.on('alertToClient', (msg) => {
                    this.receiveAlertMsg(msg);
                });
            }
        })
    </script>
</body>

</html>